

body  {
  font-family: 'Montserrat Alternates', sans-serif;
}

.playerJoin {
  color: #ba1c8d;
  background-color: #eadeda;
  /* dark mode color: #141423*/
}

.join {
  text-align: center;
}

.join h1 {
  margin-bottom: 75px;
  word-spacing: 20px;
  font-size: 75px;
}

.playerJoin input  {
  background-color: rgb(179, 176, 176);
  border-radius: 20px;
  text-align: center;
  font-size: 25px;
  letter-spacing: 5px;
  width: 150px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #ba1c8d;
  text-transform: uppercase;
  border: solid black;
  margin-bottom: 10px;
}

::placeholder {
  font-family: 'Montserrat Alternates', sans-serif;
}

.fade-in {
  animation: left-to-right-fade-in 2s ease-in;
  -webkit-mask-repeat: no-repeat;
}

@keyframes left-to-right-fade-in {
  0% {
    -webkit-mask-size: 0%;
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0)
    );
  }
  100% {
    -webkit-mask-size: 100%;
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0)
    );
  }
}






#box {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100px;
  border: 1px solid #000;
  padding: 10px;
  font-family: 'Montserrat Alternates', sans-serif;
}

#dropdown {
  width: auto;
  align-self: flex-start;
  font-family: inherit;
}

#question_field {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#question_field input {
  width: 100%;
  font-family: inherit;
}

#buttons {
  align-self: flex-end;
  width: auto;
  font-family: inherit;
}