

*  {
  font-family: 'Montserrat Alternates', sans-serif;
}

.jellybg{
  background-color: #ba1c8d;
}
.whitebg{
  background-color: white;
}
.white{
  color:white
}
.jelly{
  color: #ba1c8d
}


.playerJoin {
  color: #ba1c8d;
  background-color: #eadeda;
  /* dark mode color: #141423*/
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.playerPlay {
  color: #ba1c8d;
  background-color: #eadeda;
  /* dark mode color: #141423*/
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.creatorView {
  color: #ba1c8d;
  background-color: #eadeda;
  /* dark mode color: #141423*/
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.login {
  color: #ba1c8d;
  background-color: #eadeda;
  /* dark mode color: #141423*/
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.join {
  text-align: center;
}

.join h1 {
  margin-bottom: 50px;
  word-spacing: 20px;
  font-size: 75px;
  z-index: 3;
  position: relative;
  margin-top: 5%;
}

.playerJoin input  {
  background-color: rgb(179, 176, 176);
  border-radius: 20px;
  text-align: center;
  font-size: 35px;
  letter-spacing: 5px;
  width: 200px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #ba1c8d;
  text-transform: uppercase;
  border: solid black;
  z-index: 4;
  position: relative;
  transition: all 1s ease-in-out;
}

.playerJoin .codedone  {
  background-color: #ba1c8d;
  border-radius: 20px;
  text-align: center;
  font-size: 35px;
  letter-spacing: 5px;
  width: 200px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
  text-transform: uppercase;
  border: solid #ba1c8d;
  z-index: 4;
  position: relative;
}

.playerJoin .username  {
  background-color: rgb(179, 176, 176);
  border-radius: 20px;
  text-align: center;
  font-size: 35px;
  letter-spacing: normal;
  width: 400px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #ba1c8d;
  text-transform: none;
  border: solid black;
  z-index: 4;
  position: relative;
  margin-left:10px;
  overflow-x:hidden;
  text-wrap: nowrap;
}

.login input  {
  background-color: rgb(179, 176, 176);
  border-radius: 20px;
  text-align: center;
  font-size: 35px;
  width: 100%;
  max-width: 400px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #ba1c8d;
  border: solid black;
  z-index: 4;
  position: relative;
  display: block;
  margin:10px
}

.inputTitle  {
  background-color: transparent;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  max-width: 400px;
  width:100%;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #ba1c8d;
  border: 2px solid #ba1c8d;
  z-index: 4;
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.creatorView .inputTitle  {
  background-color: transparent;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  max-width: 400px;
  width:100%;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #ba1c8d;
  border: 2px solid #ba1c8d;
  z-index: 4;
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.creatorView input  {
  background-color: transparent;
  border-radius: 20px;
  text-align: center;
  font-size: 16px;
  max-width: 400px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #ba1c8d;
  border: 2px solid #ba1c8d;
  z-index: 4;
  position: relative;
  display: block;
}


::placeholder {
  font-family: 'Montserrat Alternates', sans-serif;
}

.fade-in {
  animation: left-to-right-fade-in 2s ease-in;
  -webkit-mask-repeat: no-repeat;
}

.fade-in-fast {
  animation: left-to-right-fade-in 1s ease-in;
  -webkit-mask-repeat: no-repeat;
}

@keyframes left-to-right-fade-in {
  0% {
    -webkit-mask-size: 0%;
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0)
    );
  }
  100% {
    -webkit-mask-size: 100%;
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0)
    );
  }
}

.foot {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
  background-color: #eadeda;
}

.foot img {
  width: 100%;
}

.logo {
  width: 100px;
  min-width: 100px;
  z-index: 3;
  position: relative;
}

.logo img {
  width: 100px;
}

.hidden-parent {
  position: relative;
  text-align: center;
}

.hidden {
  /*display: none;*/
  z-index: 4;
  position: absolute;
  width: 100%;
  animation: shake 1s ease-in-out;
}

.login a{
  position: absolute;
  bottom: 20px;
  color: #eadeda;
  z-index: 3;
  text-align: center;
  width: 100%;
  font-size: 20px;
}

.login a:hover {
  color: #b8afab;
}


.pie-chart {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: green;

  position: absolute;
  top:0;
  left:0;
  z-index: 2;
  background:repeating-conic-gradient(
    from 0deg,
    #ff264a 0deg calc(3.6deg * 35),
    #feec1e calc(3.6deg * 35) calc(3.6deg * 70),
    #12CBC4 calc(3.6deg * 70) calc(3.6deg * 100)
  );
}

.pie-hole {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: #eadeda;
  position: absolute;
  top: 75px;
  left: 75px;
  z-index: 3;
}

.pie-key strong{
  display: block;
  margin-bottom: 15px;
}




#box {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 1px solid #000;
  padding: 40px;
  border-radius: 16px;
  font-family: 'Montserrat Alternates', sans-serif;
  margin:10px;
}

#dropdown {
  width: auto;
  align-self: flex-start;
  font-family: inherit;
  border:none;
  border-radius: 8px;
  color:white;
  padding:8px
}

#question_field {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#question_field input {
  width: 100%;
  font-family: inherit;
}

#buttons {
  align-self: flex-end;
  width: auto;
  font-family: inherit;
}
#buttons button{
  border:none;
  border-radius: 8px;
  color:white;
  padding:8px;
  margin: 2px;
}

.center-align{
  display:flex;
  justify-content: center;
  align-items: center;
}

.apart-align{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.transition{
  transition: all 0.5s ease-in-out;
}

.bottomMenu{
  position:absolute;
  bottom:0;
  width:50%;
  border-radius: 16px 16px 0px 0px;
  padding:10px;
}

.itemOption{
  padding:15px;
  border-radius: 16px;
  margin:10px;
  cursor: pointer;
}

.handleExpand{
  transition: all 0.5s ease-in-out;
  overflow-y: hidden;
}


/* balls*/
#color-picker {
  margin: 10px;
  height: 50%;
  width: 80px;
  right: 0;
  position: absolute;
  z-index: 2;
  background-color: #222831;
  display: block;
  padding: 5px;
}

#color-picker li {
  list-style: none;
}

.color-button {
  position: relative;
  margin: auto;
  height: 50%;
  bottom: 0;
  width: 50%;
  height: 40px;
  border: none;
  border-radius: 50px;
}

.color-button#red {
  background-color: red;
}

.color-button#green {
  background-color: green;
}

.color-button#blue {
  background-color: blue;
}

.color-button#yellow {
  background-color: yellow;
}


#colorpicker {
  position: relative;
  margin: auto;
  height: 50%;
  bottom: 0;
  width: 50%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 50px;
  border-color: transparent;
  background-color: #ff0000;
}

#draw {
  background-color: transparent;
  outline: none;
  border: none;
}

#drawingarea {
  background-color: pink;
  
}

/* balls end */


.topbar{
  width:80%;
  padding:5px 10px;
  border-radius: 0px 0px 16px 16px;
}
.button{
  border:none;
  border-radius: 32px;
  padding: 6px 12px;
  cursor: pointer;
}
.imagebutton{
  cursor: pointer;

  transition: all 0.5s ease-in-out;
}
.imagebuttonselected{
  background-color: rgba(186, 28, 141, 0.3);
  border-radius: 16px;
}
.imagebutton:hover{
  filter: drop-shadow(0 0 0.75rem rgba(0,0,0,0.2));
}
.codeview{
  border: 2px solid #ba1c8d;
  background-color: transparent;
  padding: 4px 8px;
  border-radius: 8px;
}

@keyframes slantChange{
  0%{
    transform: rotate(5deg);
  }
  50%{
    transform: rotate(-3deg);
  }
  100%{
    transform: rotate(5deg);
  }
}

.slantChangeAnim{
  animation: slantChange 4s infinite ease-in-out;
}

.showAnim{
  animation: fadeIn 1s ease-in-out;
  animation-iteration-count: 1;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}